UPS/Server/LKAClient/src/main/config/soapLka-2010-1.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://data.soap.web.soaplka.bi.id.ethz.ch/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns0="http://service.soap.web.soaplka.bi.id.ethz.ch" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://service.soap.web.soaplka.bi.id.ethz.ch">
    <wsdl:documentation>lka</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://service.soap.web.soaplka.bi.id.ethz.ch" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://service.soap.web.soaplka.bi.id.ethz.ch">
            <xs:element name="retrieveAnmeldedaten">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="lkeinheitNummer" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveAnmeldedatenResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true"
                                    type="ns1:WsAnmeldedaten"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveAktuellePruefungssession">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="retrieveAktuellePruefungssessionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns1:WsPruefungssession"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInterfaceVersion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="info" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInterfaceVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax21="http://data.soap.web.soaplka.bi.id.ethz.ch/xsd" attributeFormDefault="qualified"
                   elementFormDefault="qualified" targetNamespace="http://data.soap.web.soaplka.bi.id.ethz.ch/xsd">
            <xs:complexType name="WsAnmeldedaten">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fachrichtung" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lkEinheitNummerzusatz" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lkEinheitTitel" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lkEinheitTyp" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lkEinheitTypText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lkForm" type="xs:int"/>
                    <xs:element minOccurs="0" name="lkFormText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="lkNummer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nachname" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pruefungsdatum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pruefungsmodeText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pruefungsraum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pruefungszeit" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="repetent" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="seskez" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="studentennummer" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="studiengang" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="vorname" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WsPruefungssession">
                <xs:sequence>
                    <xs:element minOccurs="0" name="planungFreigabe" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="seskez" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sessionsende" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sessionsname" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="retrieveAktuellePruefungssessionRequest">
        <wsdl:part name="parameters" element="ns0:retrieveAktuellePruefungssession"/>
    </wsdl:message>
    <wsdl:message name="retrieveAktuellePruefungssessionResponse">
        <wsdl:part name="parameters" element="ns0:retrieveAktuellePruefungssessionResponse"/>
    </wsdl:message>
    <wsdl:message name="retrieveAnmeldedatenRequest">
        <wsdl:part name="parameters" element="ns0:retrieveAnmeldedaten"/>
    </wsdl:message>
    <wsdl:message name="retrieveAnmeldedatenResponse">
        <wsdl:part name="parameters" element="ns0:retrieveAnmeldedatenResponse"/>
    </wsdl:message>
    <wsdl:message name="getInterfaceVersionRequest">
        <wsdl:part name="parameters" element="ns0:getInterfaceVersion"/>
    </wsdl:message>
    <wsdl:message name="getInterfaceVersionResponse">
        <wsdl:part name="parameters" element="ns0:getInterfaceVersionResponse"/>
    </wsdl:message>
    <wsdl:portType name="lkaPortType">
        <wsdl:operation name="retrieveAktuellePruefungssession">
            <wsdl:input message="ns0:retrieveAktuellePruefungssessionRequest"
                        wsaw:Action="urn:retrieveAktuellePruefungssession"/>
            <wsdl:output message="ns0:retrieveAktuellePruefungssessionResponse"
                         wsaw:Action="urn:retrieveAktuellePruefungssessionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveAnmeldedaten">
            <wsdl:input message="ns0:retrieveAnmeldedatenRequest" wsaw:Action="urn:retrieveAnmeldedaten"/>
            <wsdl:output message="ns0:retrieveAnmeldedatenResponse" wsaw:Action="urn:retrieveAnmeldedatenResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getInterfaceVersion">
            <wsdl:input message="ns0:getInterfaceVersionRequest" wsaw:Action="urn:getInterfaceVersion"/>
            <wsdl:output message="ns0:getInterfaceVersionResponse" wsaw:Action="urn:getInterfaceVersionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="lkaSOAP11Binding" type="ns0:lkaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="retrieveAktuellePruefungssession">
            <soap:operation soapAction="urn:retrieveAktuellePruefungssession" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveAnmeldedaten">
            <soap:operation soapAction="urn:retrieveAnmeldedaten" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInterfaceVersion">
            <soap:operation soapAction="urn:getInterfaceVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="lkaSOAP12Binding" type="ns0:lkaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="retrieveAktuellePruefungssession">
            <soap12:operation soapAction="urn:retrieveAktuellePruefungssession" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveAnmeldedaten">
            <soap12:operation soapAction="urn:retrieveAnmeldedaten" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInterfaceVersion">
            <soap12:operation soapAction="urn:getInterfaceVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="lkaHttpBinding" type="ns0:lkaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="retrieveAktuellePruefungssession">
            <http:operation location="lka/retrieveAktuellePruefungssession"/>
            <wsdl:input>
                <mime:content type="text/xml" part="retrieveAktuellePruefungssession"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="retrieveAktuellePruefungssession"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveAnmeldedaten">
            <http:operation location="lka/retrieveAnmeldedaten"/>
            <wsdl:input>
                <mime:content type="text/xml" part="retrieveAnmeldedaten"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="retrieveAnmeldedaten"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInterfaceVersion">
            <http:operation location="lka/getInterfaceVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getInterfaceVersion"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getInterfaceVersion"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="lka">
        <wsdl:port name="lkaSOAP11port_http" binding="ns0:lkaSOAP11Binding">
            <soap:address location="http://ois-prd-red3:7080/soapLka-2010-1/services/lka"/>
        </wsdl:port>
        <wsdl:port name="lkaSOAP12port_http" binding="ns0:lkaSOAP12Binding">
            <soap12:address location="http://ois-prd-red3:7080/soapLka-2010-1/services/lka"/>
        </wsdl:port>
        <wsdl:port name="lkaHttpport" binding="ns0:lkaHttpBinding">
            <http:address location="http://ois-prd-red3:7080/soapLka-2010-1/services/lka"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
